# IDEA Ignores####
##################
*.iml
*.ipr
*.iws
.idea/
local.properties

# Java class files####
######################
*.class

# MAC####
#########
*.DS_Store

#GRADLE####
###########
.gradle/
build/
*/build/
